@import '../../assets/variables/variables.scss';

.reviewsContainer {
  padding: 20px;
  background-color: $lightWhiteColor;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.noReviewsMessage {
  font-size: 1.2rem;
  color: $darkGreyColor;
  text-align: center;
}

.reviewsList {
  list-style-type: none;
  padding: 0;
}

.reviewItem {
  background-color: $whiteColor;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.reviewItem:hover {
  transform: translateY(-5px);
}

.author {
  font-size: 1.2rem;
  font-weight: bold;
  color: $darkGreyColor;
}

.content {
  font-size: 1rem;
  color: $greyColor;
  line-height: 1.6;
  margin-top: 10px;
}

.reviewItem > p {
  margin-top: 10px;
}

.reviewItem h2 {
  font-size: 1.4rem;
  color: $darkBlueColor;
  margin-bottom: 10px;
}
