@import '../../assets/variables/variables.scss';

.header {
  background-color: $blackColor;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav {
  @include displayFlex();
}

.list {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  font-size: 1.1rem;
  color: $whiteColor;
  font-weight: 500;
  transition: color 0.3s, transform 0.3s ease-in-out;
}

.link:hover {
  color: $lightBlueColor;
  transform: scale(1.1);
}

.active {
  color: $lightBlueColor;
  font-weight: 600;
  border-bottom: 2px solid $lightBlueColor;
}
